@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.commentItemCtn {
  border: 1px solid #005c78;
  border-radius: 10px;
  border-left: 5px solid #005c78;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 170px;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px 0px #3c5b6f;
}
.commentBodyCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.userInfoCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 10%;
}
.emailText {
  color: #3c5b6f;
  font-size: 13px;
}
.commentTitle {
  font-weight: 500;
  align-self: center;
}
.postHeading {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #074173;
  font-size: 22px;
}
.deleteBtn {
  background-color: transparent;
  border: none;
  outline: none;
}

@media (max-width: 700px) {
  .commentItemCtn {
    flex-direction: column;
  }
  .commentBodyCtn {
    width: 90%;
  }
}
